*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: rgb(250, 250, 250);
}

header{
  width: 100vw;
  height: 85px;
  background-color: rgb(255, 255, 255);
}