*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(250, 250, 250);
}

/* 所有的 li 的前面的点都去掉 */
li{
  list-style: none;
}

header{
  /* 设置头固定不动 */
  position:fixed;
  right:0;
  top:0;
  width: 100vw;
  height: 68px;
  background-color: rgb(255, 255, 255);
  display: flex;
  padding:0 80px;
  justify-content: space-between;
}

.logo>ul{
  width: 100px;
  height: 100%;
  display: flex;
  font-size: 1.7em;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  color: #3498db;
  /* 鼠标变为小手 */
  cursor: pointer;
}

.logo>ul li {
  transition: 1s;
}
/* logo的第一个单词 */
.logo>ul>li:nth-of-type(1):hover{
  transform: rotate(360deg);
  color: aqua;
}
/* logo的第二个单词 */
.logo>ul>li:nth-of-type(2):hover{
  transform: scale(1.2);
  color: #f1c40f;
}
/* logo的第三个单词 */
.logo>ul>li:nth-of-type(3):hover{
  transform: rotate(360deg);
  color: #60a3bc;
}

/* 导航栏 */
.changeBox{
  width: 440px;
  height: 100%;
  display: flex;
  transform: translateX(-80px);
}

.changeBox>ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.changeBox>ul li{
  margin: 0 18px;
  cursor: pointer;
}

.changeBox>ul li:hover{
  color: #e67e22;
  border-bottom: 2px solid #e67e22;
}

.search{
  width: 380px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-80px);
}

.search #input{
  width: 290px;
  height: 50%;
  border-radius: 25px 0 0 25px;
    /* 去掉焦点之后的边框 */
  outline: none;
  border: 2px solid rgb(255, 68, 63);
  text-align: center;
}

.search button{
  height: 50%;
  width: 80px;
  color: white;
  background-color: rgb(255, 68, 63);
  border-radius: 0 25px 25px 0;
  border: 2px solid rgb(255, 68, 63);
  /* 去掉点击的边框 */
  outline: none;
  cursor: pointer;
}

.userLogin {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.userLogin button{
  height: 50%;
  width: 64px;
  padding: 0 15px;
  margin: 0 20px;
  border-radius: 20px;
  font-size: 14px;
  /* 去掉点击之后的黑色边框 */
  outline: none;
  background-color: rgb(255, 68, 63);
  color: white;
  border: 1px solid rgb(255, 68, 63);
  cursor: pointer;
  transition: .5s;
}

.userLogin button:hover{
  transform: scale(1.2);
}

main{
  position:relative;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: red;
}

footer{
  display: flex;
  width: 100vw;
  background-color: blue;
}