*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: rgb(250, 250, 250);
}

/* 所有的 li 的前面的点都去掉 */
li{
  list-style: none;
}

header{
  width: 100vw;
  height: 85px;
  background-color: rgb(255, 255, 255);
  display: flex;
}

.logo>ul{
  width: 200px;
  height: 100%;
  display: flex;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  color: #3498db;
  /* 鼠标变为小手 */
  cursor: pointer;
}

.logo>ul li {
  transition: 1s;
}

.logo>ul>li:nth-of-type(1):hover{
  transform: rotate(360edg);
  color: aqua;
}