*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: rgb(250, 250, 250);
}

/* 所有的 li 的前面的点都去掉 */
li{
  list-style: none;
}

header{
  width: 100vw;
  height: 85px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  list-style: none;
}