*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(250, 250, 250);
}

/* 返回顶部按钮 */
.toTop{
  width: 52px;
  height: 44px;
  display: flex;
  position: fixed;
  top: 70%;
  right: 0;
  background-color: white;
  border-radius: 50% 0 0 50%;
  justify-content: center;
  align-items: center;
  transition: .25s;
  z-index: 2;
  cursor: pointer;
}

.toTop:hover{
  transform: scale(1.1);
}

/* 所有的 li 的前面的点都去掉 */
li{
  list-style: none;
}
/* 所有 a 标签去掉下划线 */
a{
  text-decoration: none;
}

header{
  /* 设置头固定不动 */
  position:fixed;
  right:0;
  top:0;
  width: 100vw;
  height: 68px;
  background-color: rgb(255, 255, 255);
  display: flex;
  padding:0 80px;
  justify-content: space-between;
  z-index: 1;
}

.logo>ul{
  width: 100px;
  height: 100%;
  display: flex;
  font-size: 1.7em;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  color: #3498db;
  /* 鼠标变为小手 */
  cursor: pointer;
}

.logo>ul li {
  transition: 1s;
}
/* logo的第一个单词 */
.logo>ul>li:nth-of-type(1):hover{
  transform: rotate(360deg);
  color: aqua;
}
/* logo的第二个单词 */
.logo>ul>li:nth-of-type(2):hover{
  transform: scale(1.2);
  color: #f1c40f;
}
/* logo的第三个单词 */
.logo>ul>li:nth-of-type(3):hover{
  transform: rotate(360deg);
  color: #60a3bc;
}

/* 导航栏 */
.changeBox{
  width: 440px;
  height: 100%;
  display: flex;
  transform: translateX(-80px);
}

.changeBox>ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.changeBox>ul li{
  margin: 0 18px;
  cursor: pointer;
}

.changeBox>ul li:hover{
  color: #e67e22;
  border-bottom: 2px solid #e67e22;
}

.search{
  width: 380px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-80px);
}

.search #input{
  width: 290px;
  height: 50%;
  border-radius: 25px 0 0 25px;
    /* 去掉焦点之后的边框 */
  outline: none;
  border: 2px solid rgb(255, 68, 63);
  text-align: center;
}

.search button{
  height: 50%;
  width: 80px;
  color: white;
  background-color: rgb(255, 68, 63);
  border-radius: 0 25px 25px 0;
  border: 2px solid rgb(255, 68, 63);
  /* 去掉点击的边框 */
  outline: none;
  cursor: pointer;
}

.userLogin {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.userLogin button{
  height: 50%;
  width: 64px;
  padding: 0 15px;
  margin: 0 20px;
  border-radius: 20px;
  font-size: 14px;
  /* 去掉点击之后的黑色边框 */
  outline: none;
  background-color: rgb(255, 68, 63);
  color: white;
  border: 1px solid rgb(255, 68, 63);
  cursor: pointer;
  transition: .5s;
}

.userLogin button:hover{
  transform: scale(1.2);
}

main{
  position:relative;
  top: 68px;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.map{
  position: relative;
  display: flex;
}

.left, .right{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 30px;
  background-color: #000;
  z-index: 0;
  top: 50%;
  cursor: pointer;
}

.left:hover, .right:hover{
  background-color: rgb(255, 68, 63);
}

.right{
  left: 94.2%;
}

.map img{
  display: flex;
  position: absolute;
  width: 100%;
  height: 360px;
  cursor: pointer;
  opacity: 0;
}

.imgToLeft{
  animation: ToLeft 1s;
}


.imgToRight{
  animation: ToRight 1s;
}

.imgForRight{
  animation: ForRight 1s;
}

.imgForLeft{
  animation: ForLeft 1s;
}

@keyframes ToRight {
  0%{
    transform: translateX(1040px);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes ForRight {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(1040px);
  }
}

@keyframes ToLeft {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-1040px);
  }
}

@keyframes ForLeft {
  0%{
    transform: translateX(-1040px);
  }
  100%{
    transform: translateX(0);
  }
}

.imgNum{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 72px;
  height: 26px;
  z-index: 2;
}

.imgNum>ul{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.imgNum>ul li{
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.imgNum>ul .changeBigLi{
  width: 16px;
  border-radius: 10px;
  background-color: #FF443F;
}

.mainCard{
  width: 1080px;
}

.mainCard .map{
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  border: 20px solid white;
  overflow: hidden;
}


.movie,.sitcom,.variety,.comic{
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  margin-top: 20px;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header strong{
  border-left: 3px solid rgb(255, 68, 63);
  padding-left: 20px;
  transform: translateX(-20px);
}

.header a{
  font-size: 14px;
  color: #333333;
}

.header a:hover{
  color: rgb(255, 68, 63);
}

.movie,.sitcom,.variety,.comic{
  display: flex;
  flex-direction: column;
}

.content{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.img{
  width: 170px;
  height: 255px;
  margin-top: 20px;
  cursor: pointer;
  transition: .5s;
}

.img:hover{
  transform: scale(1.05);
}


footer{
  display: flex;
  width: 100vw;
  height: 260px;
  background-color: white;
  transform: translateY(100px);
  justify-content: flex-start;
  align-items: center;
}

.footer-inner{
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-inner h3{
  cursor: pointer;
  height: 44px;
}

.footer-inner ul{
  display: block;
  width: 200px;
  height: 103px;
  margin-right: 30px;
}

.footer-inner ul li{
  display: inline-flex;
  flex-direction: column;
  width: 90px;
  padding-bottom: 10px;
}

.footer-inner ul li a{
  color: #333333;
  font-size: 14px;
}
.footer-inner ul li a:hover{
  color: #e67e22;
}